{% import "macros/macros.html" as post_macros %}

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if page.description %}
		<meta name="description" content="{{ page.description }}" />
	{% elif config.description %}
		<meta name="description" content="{{ config.description }}" />
	{% endif %}

	{# Site title #}
	{% set current_path = current_path | default(value="/") %}
	{% if current_path == "/" %}
	<title>
		{{ config.title | default(value="Home") }}
	</title>
	{% else %}
	<title>
		{{ page.title | default(value=config.title) | default(value="Post") }}
	</title>
	{% endif %}

	{# Favicon #}
	{% if config.extra.favicon %}
	{% if config.extra.favicon_inline | default(value=true) -%}
	<link rel="icon" href="data:image/svg+xml;base64,{{ load_data(path=config.extra.favicon) | base64_encode }}">
	{% else %}
	<link rel="icon" href="{{ config.extra.favicon | trim_start_matches(pat="static") }}" type="image/svg+xml">
	{% endif -%}
	{% endif %}

	{# Fonts #}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lora&family=Spline+Sans+Mono&display=swap" rel="stylesheet">

	{# RSS #}
	<link rel="alternate" type="application/atom+xml" title="{{ config.title }}" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">

	<link rel="stylesheet" type="text/css" media="screen" href={{ get_url(path="main.css") }} />
</head>
