footer {
	display: flex;
	align-items: center;
	border-top: 0.30rem dashed var(--accent-color);
	padding: 0.3rem 0rem;
	margin-top: auto;
	box-sizing: border-box;
}

.soc {
	margin-right: 1rem;
	font-size: 0.9rem;
	border-bottom: unset;
}

.lic {
	margin-left: auto;
	font-size: 0.6rem;
}
