footer {
	display: flex;
	align-items: center;
	border-top: 0.35rem dashed var(--primary-color);
	padding: 0.3rem 0rem;
	margin-top: 2rem;
}

.soc {
	margin-right: 1rem;
	font-size: 0.9rem;
	border-bottom: unset;
}

.lic {
	margin-left: auto;
	font-size: 0.6rem;
}
