.page-header {
	font-size: 3em;
	line-height: 100%;
	margin: 1rem 0px 1rem 0px;
}

.centered-header {
	text-align: center;
	font-size: 4em;
}

header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1em 0;
}

header .main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	gap: 12px;
	font-size: 1.5rem;
	margin-bottom: 10px;
}

.menu {
	margin-left: 0.7em;
}

.meta {
	color: #999;
	letter-spacing: -0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1.2rem;
	margin-top: 2em;
}

h1::before {
	color: var(--primary-color);
	content: "# ";
}

h2::before {
	color: var(--primary-color);
	content: "## ";
}

h3::before {
	color: var(--primary-color);
	content: "### ";
}

h4::before {
	color: var(--primary-color);
	content: "#### ";
}

h5::before {
	color: var(--primary-color);
	content: "##### ";
}

h6::before {
	color: var(--primary-color);
	content: "###### ";
}


h1.card-title::before {
	content: none;
}

li.title-list {
	margin-left: 1em;
}

li.title-list::marker {
	color: var(--primary-color);
	content: "# ";
	font-size: 1.2rem;
}
