.accent-color {
	color: var(--accent-color);
}

p {
	line-height: 1.5;
}

hr {
	border: 0;
	border-top: 3px solid var(--border-color);
	margin: 1em 0;
}

a {
	border-bottom: 3px solid var(--accent-color);
	color: inherit;
	text-decoration: none;
}

.main a {
	padding-bottom: 5px;
}

a:hover {
	background-color: var(--accent-color);
	color: var(--hover-color);
}

.zola-anchor {
	border-bottom: unset;
}

.zola-anchor:hover {
	background-color: unset;
	color: unset;
}

time {
	color: grey;
}

/* Reduce post list padding */
@media screen and (max-width: 600px) {
	.list>ul {
		margin: 0;
		padding: 0;
	}
}
