.tags {
	margin-block-start: 0em;
}

.tags li::before {
	content: "🏷 ";
}

.tags a {
	border-bottom: 3px solid var(--primary-color);
}

.tags a:hover {
	color: var(--hover_color);
	background-color: var(--primary-color);
}

.tags h1::before {
	content: "🏷 ";
}

.post-tags {
	margin-top: 2rem;
}
